<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>

    <main class="body-home">
        <p class="info-carrito">Todos nuestros Planes 
            incluyen Profesores matriculados,
            nutricionistas, seguro medico y 
            locker propio en los vestuarios</p>

            <section class="actividades">
                <% products.forEach(product => { %>
                    <article>
                        <label for="<%= product.actividad %>">
                            <input type="checkbox" name="actividad" id="<%= product.actividad %>" class="check" data-precio="<%= product.precio %>" data-producto="<%= product.actividad %>">
                            PLAN <span class="producto"><%= product.actividad %></span> : $ <span class="precio"><%= product.precio %></span> por mes
                        </label>
                    </article>
                <% }) %>
            </section>
            
            <div class="subtotal">SUBTOTAL : <span class="total">0</span> $ </div>
            <div class="caja-1">
                <img src="/images/Metodos-de-pago1.webp" alt="medios de pagos" class="pagos">
                <button class="boton-finalizar-compra">FINALIZAR COMPRA</button>
            </div>
            
            <div class="lista-compra">
                <h2>Lista de Compra</h2>
                <ul class="lista-productos"></ul>
            </div>
            

    </main>




    <%- include("../partials/footerdetail.ejs") %>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/products/carrito.js"></script>
</body>