<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main class="body-home">
        
        <h3 class="slogan-main-detalle">BE SMART - BE STRONG - BE FAST</h3>

            <h2 class="nombre-producto"><%= products.nombre %></h2>
        <article class="articulo-producto">
            <img src="/images/<%= products.imagen %>"  class="detalleProduct-imagen"> 
            <div class="caja-producto">
            <p class="info-producto"><%= products.informacion %></p>
                
                <p class="horarios-producto"><%= products.horario %></p>
                <div class="seccion-tablet-info">
                <p class="precio-producto"><%= products.precio %></p>
                <div class="caja-boton-carrito">
                <a href="/productCart" class="boton-carrito">AGREGAR AL CARRITO</a>
            </div>
        </div>
                </div>
        </article>
        

    </main>
    <%- include("../partials/footerdetail.ejs") %>
</body>
</html>