<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main class="body-detail">
        
        <h3 class="slogan-main-detalle">EDITAR PRODUCTO</h3>
            
        <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" class="form-producto" enctype="multipart/form-data">
<section class="seccion-edit">
            <div class="form-producto-imagen">
                <label class="label-seleccion-imagen" for="imagen">SELECCIÓN DE IMÁGEN
                <input class="" type="file" id="imagen" name="imagen" accept="image/*">
                <img src="/images/<%= product.imagen %>"  class="form-imagen" value="<%= product.imagen %>"> 
            </label>
            </div>

            <div class="div-form-nombre-edit">
                <label class="label-form-edit" for="actividad">NOMBRE DEL PRODUCTO</label>
                 <input class="input-form-nombre-edit" type="text" id="actividad" name="actividad" value="<%= product.actividad %>">
              </div>
            </section>
                     <section class="seccion-edit-2">
             <div class="div-form-edit">
                <label class="label-form-edit" for="informacion">DESCRIPCIÓN DEL PRODUCTO</label>
                <textarea class="form-descripcion-edit" name="informacion" id="informacion" cols="" rows="" value=""><%= product.informacion %></textarea>
             </div>
    
             <div class="div-form-edit">
                <label class="label-form-edit" for="horario">HORARIOS DEL PRODUCTO</label>
                <textarea class="textarea-horario-edit" name="horario" id="horario" cols="" rows="" value=""><%= product.horario %></textarea>
             </div>
             </section>
            <section class="seccion-edit-3">
             <div class="div-form-edit-precio">
               <label class="label-form-edit" for="precio">PRECIO DEL PRODUCTO</label>
                <input class="input-form-precio-edit" type="number" id="precio" name="precio" value="<%= product.precio %>">
             </div>
            
             
             <button type="submit" class="boton-edit">GUARDAR</button>
            </section>
         </form>
         <script src="/js/products/productEditValidation.js"></script>
    </main>
    <%- include("../partials/footerdetail.ejs") %>
</body>
</html>