<%- include("../partials/head.ejs") %>
<body class="body-home">
    <%- include("../partials/header.ejs") %>
    <main class="main-login">
        <h1 class="titulo-formulario-login">Formulario de login</h1>
        <section class="seccion-login">
    <form action="/users/login" method="post" class="formulario-login">
        
        <i class="fa-solid fa-user login-user"></i>
        <p class="login-debajodel-icono">LOGIN</p>
     <div class="caja-user">
        <i class="fa-solid fa-user icono-user-input"></i>
        <input type="text" name="email" placeholder="E-mail" class="input-user" value="<%= locals.oldData ? oldData.email : null %>">
        <% if (locals.errores && errores.email) { %>
            <p><%= errores.email.msg  %></p>
        <% } %>
     </div>
     <div class="caja-contraseña"> 
        <i class="fa-solid fa-lock icono-candado-input"></i>
        <input type="password" name="contrasenia" placeholder="contraseña" class="input-contraseña" value="<%= locals.oldData ? oldData.contrasenia : null %>">
     </div>
     <% if (locals.errores && errores.contrasenia) { %>
        <p><%= errores.contrasenia.msg  %></p>
    <% } %>
     <div>
       <p class="input-recordamelo"> <input type="checkbox" name="remember" id="remember" value="true">Recordamelo</p>
     </div>
     <div class="caja-boton-logueado">
        <button type="submit" class="boton-login-main">Login</button>
        <% if (locals.error){ %>
            <p> <%= error %></p>
            <% }%>
     </div>
    
    </form>
    <section class="section-debajo-logueado">
    <div class="caja-logueado-cuenta">
        <p class="no-cuenta">¿No tenés cuenta?</p>                   
        <a href="/users/register" class="registrate-caja">Registrate</a>
    </div>
    <div class="caja-logueado-segunda">
        <p class="logueatecon">o logueate con</p>
       <a href=""> <i class="fa-brands fa-facebook logo-face"></i></a>
       <a href=""> <i class="fa-brands fa-google logo-google"></i></a>
</div>
</section>
</section>
    
</main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>