<%- include("../partials/head.ejs") %>
<body class="body-register">
    <%- include("../partials/header.ejs") %> 
    <main class="main-register">
        
        
            
        <% if(locals.usuario){ %>
            <div class="formulario-userEdit">
                <h2 class="titulo-form-userEdit">PERFIL:</h2>     
               <label class="label-userEdit" for="nombre">NOMBRE: </label>
               <input class="input-userEdit" type="text" id="nombre" name="nombre" value="<%= usuario.nombre %>">
   
               <label class="label-userEdit" for="apellido">APELLIDO:</label>
               <input class="input-userEdit" type="text" id="apellido" name="apellido" value="<%= usuario.apellido %>">
              
               <label class="label-userEdit" id="email">EMAIL:</label>
                <input type="email" name="email" id="email" class="input-userEdit" value="<%= usuario.email %>">
   
               
              <section class="seccion-perfil">
              <a href="/users/edit/<%= usuario.id %>" class="usuario-perfil"> <i class="fa-solid fa-user-pen edit-perfil"></i>Editar Perfil</a>
          
               <a class="log-out" href="/users/logout"><i class="fa-solid fa-right-from-bracket"></i>Cerrar sesion</a>
            </section>
                 
           </div>
           
    
            <% }   %>
    
             
    </main>
    <%- include("../partials/footerdetail.ejs") %>