<%- include("../partials/head.ejs") %>
<body class="body-register">
    <%- include("../partials/header.ejs") %> 
    <main class="main-register">
        
        
            
           
             <form action="/users/edit/<%= user.id %>?_method=PUT" method="post" class="formulario-userEdit">
                 <h2 class="titulo-form-userEdit">EDICIÓN DE USUARIO:</h2>     
                <label class="label-userEdit" for="nombre">NOMBRE:</label>
                <input class="input-userEdit" type="text" id="nombre" name="nombre" value="<%= user.nombre %>">
    
                <label class="label-userEdit" for="apellido">APELLIDO:</label>
                <input class="input-userEdit" type="text" id="apellido" name="apellido" value="<%= user.apellido %>">
        
                <label class="label-userEdit" for="fecha">FECHA DE NACIMIENTO:</label>
                <input class="input-userEdit" type="date" id="fecha" name="fecha" value="<%= user.fecha %>">
               
                <label class="label-userEdit" id="email">EMAIL:</label>
                 <input type="email" name="email" id="email" class="input-userEdit" value="<%= user.email %>">
    
                <label class="label-userEdit" for="contraseña">CONTRASEÑA:</label>
               <input type="password" name="contraseña" class="input-userEdit" value="<%= user.contrasenia %>">
                
                <div class="botones-registro">
                    <button class="boton-userEdit" type="submit">ENVIAR</button>
                </div> 
                  
        </form>
    </main>
    <%- include("../partials/footerdetail.ejs") %>
</body>