<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main class="body-detail">
        
        <h3 class="slogan-main-detalle">BE SMART - BE STRONG - BE FAST</h3>
        <section class="contenedor-card">
            <% products.forEach(product =>{ %>
                <h2 class="nombre-producto"><%= product.actividad %></h2>
            <article class="articulo-producto">
                <img src=" /images/<%= product.imagen%>"  class="detalleProduct-imagen"> 
                <div class="caja-producto">
                <p class="info-producto"><%= product.informacion %></p>
                
                    
                    <p class="horarios-producto"><%= product.horario %></p>
                    <div class="seccion-tablet-info">
                    <p class="precio-producto">Pase mensual : $<%= product.precio %></p>
                    
                    <a href="/products/productCart" class="boton-carrito caja-boton-carrito">AGREGAR AL CARRITO</a>
                    
            </div>
                    </div>
            </article>
            <% })  %>
        </section>
             

    </main>
    <%- include("./partials/footerdetail.ejs") %>
    <script src="/js/products/carrito.js"></script>
</body>
</html>